/* import styled-components; */
.input-container label {
  margin: 5px 2px;
  display: block;
}
.input-container input {
  display: block;
  margin: auto;
  padding: 8px 8px;
}

/* export const LabelContainer = styled.label`
      display: ${props.none? 'none':'flex'}
` */